# Dependências do Node.js
node_modules

# Arquivos de build (serão gerados dentro do container)
dist
npm-debug.log

# Metadados do Git e do Docker
.git
.gitignore
Dockerfile
.dockerignore

# Configurações do GitHub Actions
.github 